body{
    margin: 0;
}

@media (max-aspect-ratio:7/10) {

    .Joinpage{
        
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        
    }
    .JoinContainer{
        margin-top: 35vw !important;
        width: 100% !important;
    }
    
    .JoinContainer > img{
        width: 15vw !important;
    } 
    
    .JoinContainer > h1{
        font-size: 6vw;
        width: 55vw !important;
        border-bottom: 0.5vw solid gold;
        padding: 3vw !important;
        
    }

    #joinInput{
        width: 55vw !important;
        padding: 4vw !important;
        font-size: 5vw !important;
        margin: 5vw !important;
    }

    .joinbtn{
        width: 55vw !important;
        padding: 4vw !important;   
        font-size: 5vw !important;
    }

    /* chat */
    .chatContainer{
        background-color: white;
        height: 100% !important;
        width: 100% !important;
        
    }

    .header{
        height: 10% !important;
    }

    .header>h2{
        margin: 6vw !important;
        font-size: 6vw !important;
        
    }
    
    .header img{
        margin: 5vw !important;
        transform: scale(1.5) !important;
    }

    .header>img:hover{
        transform: scale(2.2) !important;
    }

    .chatBox{
        height: 70% !important;
    }

    #chatInput{  
        padding: 4vw !important;
        font-size: 5vw !important;
        height: 20% !important;
    }
    
    
    /* message */

    .messageBox{
        padding: 1.5vw !important;
        margin: 2.5vw !important;
        border-radius: 1.5vw !important;
        font-size: 4.5vw !important;
    
    }
    
    
    
}